//
// Utility classes
// --------------------------------------------------

// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.absolute{
  position: absolute;
}

// position Form desktop
@media(min-width:@screen-lg){
    .absolute-lg{
        position: absolute;
        .pull-right;
        margin: 15% 0 20% 53%;  
    }
}

.height-sm{
  height: @height-small;
} 

.height-lg{
  height: 300px;
} 


// Toggling content
// -------------------------
.margin-top-md      { margin-top: 25% }
.margin-left-xs     { margin-left: 10% }
.margin-right-sm    { margin-right: 20% }
.margin-left-sm     { margin-left: 20% }
.margin-left-lg     { margin-left: 25% }
.margin-bottom-md   { margin-bottom: 25% } 
.margin-top-xs      { margin-top: 5% }

.margin-vertical-lg{
    margin-top: 30px;
    margin-bottom: 30px;
}

.padding-left-md    { padding-left: 10%;}
.padding-left-xlg   { padding-left: 40%;}
.padding-right-lg   { padding-right: 15%;}

.padding-lg-vertical{
    padding-top:@padding-large-vertical;
    padding-bottom:@padding-large-vertical;
}
.padding-md-vertical{
    padding-top:@padding-base-vertical;
    padding-bottom:@padding-base-vertical;
}
.padding-xs-horizontal{
  padding-left: @padding-xs-horizontal; //20px
  padding-right: @padding-xs-horizontal;
}
.padding-sm-horizontal{
  padding-left: @padding-small-horizontal;
  padding-right: @padding-small-horizontal;
}
.padding-md{
  padding: @padding-medium;
}

.pd-headline-right{
  .padding-lg-vertical;
  .padding-right-lg;
}

.pd-headline-left{
  .padding-left-md;
  .padding-md-vertical;
}

//padding 
.padding-top-xlg{
    padding-top: 40%;
    @media( min-width:@screen-sm){
        padding-top: 0; 
        .margin-left-xs
    }
}


// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}
.divider-primary{
  border: solid 1px @primary;
}

.divider-light{
  border: solid 1px @light;
}

// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

// padding headlines background desktop

@media( min-width:@screen-sm){
    .bg-tertiary{
        .padding-left-md;
        .margin-right-sm;
    }
    .bg-secondary:last-child{
        .margin-left-sm;
    }

}



